body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: lightblue;
}

.footer {
  background-color: #0E2431;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 0.1rem;
}

.footer__title {
  font-size: 1rem;
  margin-bottom: var(--mb-4);
}
